html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #0e0e0e;
  overflow: hidden;
}

canvas {
  image-rendering: pixelated;
}
